* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('C:\Users\cms19\Pictures\photo-1444464666168-49d633b86797.png');
}
.container {
    width: 400px;
    background-color: rgb(187, 225, 231);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(153, 171, 187);
}

.container h1 {
    color: darkmagenta;
    font-size: 26pt;
    text-align: center;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 26px;
}
.container h2 {
    color: deeppink;
    width:80%;
    padding: 5px 10px;
    border: 2px solid rgb(128, 0, 107);
    border-radius: 10px;
    margin-bottom: 10px;
    background-position: left;
    background-color: rgb(179, 175, 175);
    text-align: left;
}
.controls{
    width: 100%;
    background-color: rgb(240, 229, 229);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px; solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}
.bottom{
    border-bottom: 1px solid #5f5f5f;
    padding: 15px;
}
