/* ALAS AL VIENTO ======================= */
body {
    /*     background-color: green; */
    }
    *{font-family: 'ABeeZee', sans-serif;
    font-family: 'Nunito', sans-serif;}
    
    .navbar>.container-fluid {
        align-items: flex-end;
    }
    
    
    .nav-link {
        color: #b3204f;
        font-size: 24px;
        padding-bottom: 0;
        margin-left: 20px;
    }
    
    
    #intro {
        position: relative;
    }
    
    #intro .wrapper {
        background: rgba(255,255,255,0.3);
        color: #FFF;
        position: absolute;
        top: 20px;
        left: 60%;
        right: 5%;
        bottom: 20px;
        padding: 20px;
    }
    
    #intro .wrapper p {
        margin-bottom: 0;
    }
    #intro video {
        width: 100%;
    }
    main{width: 1114px; height: auto; margin-left: 118px;}
    h1, h2{text-align: center; color: #b3204f; } h2 {font-size: 24px;}
    #quehacemos{ color: #b3204f; padding: 30px; text-align: justify; background-color: rgb(204, 202, 202);}
    #destinos{color: #b3204f; padding: 30px; text-align: justify;}
    .carousel-caption{background-color: rgba(0, 0, 0, 0.6);}
    Footer
    